<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="Zameen.Interview_Solution.Listeners" />
	</listeners>

 	<test name="VerifySearchCriteria">
		<classes>
			<class name="Zameen.Interview_Solution.VerifySearchCriteria" />
		</classes>
	</test>


 	<test name="VerifyDetailPageFilters">
		<classes>
			<class name="Zameen.Interview_Solution.VerifyDetailPageFilters" />
		</classes>
	</test> 


	<test name="Test3">
		<classes>
			<class name="Zameen.Interview_Solution.AppTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="VerifyPropertyOnMap">
		<classes>
			<class name="Zameen.Interview_Solution.VerifyPropertyOnMap" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
